# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

/.venv/
ui_*.py
*_rc.py

# vscode workspace
# /.vscode/

# filemon.code-workspace
filemon.egg-info

# misc
/tmp/
*.xml
*.log
*.db
*.zip
# /test_data/
# /tools/
# /inspection/
# /codestyles/
# /_linux/
