# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

/test_data/
/tools/
# /inspection/
# /codestyles/
# /_linux/
/tmp/**/*
/venv/
/.idea/
*.xml
*.log
*.db
*.zip
ui_*.py
*_rc.py
/src/call_chain.py
/.vscode/
filemon.code-workspace
filemon.egg-info
prj_info/prj_info.ini
