# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/test_data/
/tools/
# /inspection/
# /codestyles/
# /_linux/
/tmp/**/*
/venv/
/.idea/
*.xml
*.log
*.db
*.zip
ui_*.py
*_rc.py
/src/call_chain.py
